<div class="container">
    <div class="row ">
        <div class="col-12">
            <h1>Welcome to MoreBooks!</h1>
        </div>
        <div class="col-12 index">
            <h2><a href="/cars">To See Books</a></h2>
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQGm0XarQ3uTu9fT35miuVfpma7NqT5YNQvSPf8W5SWL_qD5pNdWgHHKOTwASXzhJhK-gY&usqp=CAU" alt="book">

        </div>
    </div>
</div>